{% extends 'personal/base.html' %}

{% block title %}Formulario de Personal{% endblock %}

{% block content %}

<h1 class="text-2xl font-bold mb-4">Formulario de Personal</h1>
<form method="post" class="bg-white p-4 rounded shadow">
  {% csrf_token %}
  {{ form.as_p }}
  <button
    type="submit"
    class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded"
  >
    Guardar
  </button>
  <a
    href="{% url 'personal_list' %}"
    class="ml-2 bg-gray-300 hover:bg-gray-400 text-gray-700 px-4 py-2 rounded"
  >
    Cancelar
  </a>
</form>
{% endblock %}

